flows.json
[
    {
        "id": "bec4301d57ac82a5",
        "type": "tab",
        "label": "TAK ASN SIDECAR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e71ffcc.32ba8",
        "type": "sqlitedb",
        "db": ":memory:",
        "mode": "RWC"
    },
    {
        "id": "dc169dd1444aa8a5",
        "type": "tls-config",
        "name": "TAK SSL",
        "cert": "/data/certs/server.pem",
        "key": "/data/certs/server.key",
        "ca": "/data/certs/ca.pem",
        "certname": "crtfile.crt",
        "keyname": "keyfile.pem",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "9814034d1d68130a",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE LastSeen(id TEXT PRIMARY KEY, lat TEXT, lon TEXT, hae TEXT, ce TEXT, le TEXT)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "7f2acbdf821123bb"
            ]
        ]
    },
    {
        "id": "4bb5e672e2a67036",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "DROP TABLE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE LastSeen",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "7f2acbdf821123bb"
            ]
        ]
    },
    {
        "id": "7f2acbdf821123bb",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "81f8f65820ec9ee1"
            ]
        ]
    },
    {
        "id": "81f8f65820ec9ee1",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "0bb6330982fd4581",
        "type": "comment",
        "z": "bec4301d57ac82a5",
        "name": "CREATE DATABASES",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "4d2626e27d92a41c",
        "type": "tcp out",
        "z": "bec4301d57ac82a5",
        "name": "SEND-TO-TAK",
        "host": "${COT_IP}",
        "port": "${COT_PORT}",
        "beserver": "client",
        "base64": false,
        "end": true,
        "tls": "dc169dd1444aa8a5",
        "x": 1760,
        "y": 700,
        "wires": []
    },
    {
        "id": "20dc9c0fde31810e",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "Start of simple video server propegator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 880,
        "wires": [
            [
                "9a171bfbedc44fd4"
            ]
        ]
    },
    {
        "id": "9a171bfbedc44fd4",
        "type": "http request",
        "z": "bec4301d57ac82a5",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:9997/v1/paths/list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 610,
        "y": 880,
        "wires": [
            [
                "692d87acb8f3ab9b"
            ]
        ]
    },
    {
        "id": "ba6b9ead95dc6f27",
        "type": "split",
        "z": "bec4301d57ac82a5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "items",
        "x": 910,
        "y": 880,
        "wires": [
            [
                "a594140bb5b9a4f5"
            ]
        ]
    },
    {
        "id": "692d87acb8f3ab9b",
        "type": "switch",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"items\":{}}",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 880,
        "wires": [
            [],
            [
                "ba6b9ead95dc6f27"
            ]
        ]
    },
    {
        "id": "a594140bb5b9a4f5",
        "type": "json",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "3957c6f760edfc42"
            ]
        ]
    },
    {
        "id": "3957c6f760edfc42",
        "type": "function",
        "z": "bec4301d57ac82a5",
        "name": "",
        "func": "msg.payload = Object.keys(msg.payload.items);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 880,
        "wires": [
            [
                "b749aeeac30319b2"
            ]
        ]
    },
    {
        "id": "b749aeeac30319b2",
        "type": "change",
        "z": "bec4301d57ac82a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "backupname",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 880,
        "wires": [
            [
                "3ae8946f440360c7"
            ]
        ]
    },
    {
        "id": "140616f7261f72f3",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 800,
        "y": 1000,
        "wires": [
            [
                "539bd27298093174"
            ]
        ]
    },
    {
        "id": "3ae8946f440360c7",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  LastSeen\nWHERE\n  id = \"{{ payload }}\"",
        "output": "str",
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "140616f7261f72f3"
            ]
        ]
    },
    {
        "id": "539bd27298093174",
        "type": "switch",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1000,
        "wires": [
            [
                "7b6d80a6fe4c2c65"
            ],
            [
                "1f15f466d7b00a29"
            ]
        ]
    },
    {
        "id": "1f15f466d7b00a29",
        "type": "function",
        "z": "bec4301d57ac82a5",
        "name": "",
        "func": "name = msg.payload[0].id;\nlat = msg.payload[0].lat;\nlon = msg.payload[0].lon;\nhae = msg.payload[0].hae;\nce = msg.payload[0].ce;\nle = msg.payload[0].le;\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1020,
        "wires": [
            [
                "a8349a79a6abfd54"
            ]
        ]
    },
    {
        "id": "a8349a79a6abfd54",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<event version=\"2.0\" uid=\"COTUID-{{ payload.name }}\" type=\"b-m-p-s-p-loc\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n   <point lat=\"{{ payload.lat }}\" lon=\"{{ payload.lon }}\" hae=\"{{ payload.hae }}\" ce=\"{{ payload.ce }}\" le=\"{{ payload.le }}\" />\n   <detail>\n      <status readiness=\"true\" />\n      <contact callsign=\"{{ payload.name }}\" />\n      <__video uid=\"VIDEOUID-{{ payload.name }}\" url=\"{{global.ip}}:8554/{{ payload.name }}\">\n         <ConnectionEntry protocol=\"rtsp\" path=\"/{{ payload.name }}\" address=\"{{global.ip}}\" port=\"8554\" alias=\"{{ payload.name }}\" roverPort=\"-1\" rtspReliable=\"0\" ignoreEmbeddedKLV=\"False\" networkTimeout=\"0\" bufferTime=\"-1\" />\n      </__video>\n      <precisionlocation geopointsrc=\"???\" altsrc=\"???\" />\n   </detail>\n</event>",
        "output": "str",
        "x": 1340,
        "y": 1000,
        "wires": [
            [
                "4d2626e27d92a41c"
            ]
        ]
    },
    {
        "id": "7b6d80a6fe4c2c65",
        "type": "function",
        "z": "bec4301d57ac82a5",
        "name": "",
        "func": "name = msg.backupname;\n\n\nmsg.payload = {\n  name: name,\n  lat: \"0.0\",\n  lon: \"0.0\",\n  hae: \"0.0\",\n  ce: \"99999\",\n  le: \"99999\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 980,
        "wires": [
            [
                "a8349a79a6abfd54"
            ]
        ]
    },
    {
        "id": "4437698d915e900d",
        "type": "ip",
        "z": "bec4301d57ac82a5",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": false,
        "internalIPv6": false,
        "publicIPv4": true,
        "publicIPv6": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "0f2c7b51ac38b0b1"
            ]
        ]
    },
    {
        "id": "979ecd798012f7fb",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "SET global.publicip",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "4437698d915e900d"
            ]
        ]
    },
    {
        "id": "fe196ac4be2c3c0f",
        "type": "comment",
        "z": "bec4301d57ac82a5",
        "name": "SET GLOBAL PUBLIC IP",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "36832901dd77c53e",
        "type": "moment",
        "z": "bec4301d57ac82a5",
        "name": "STALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "5",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2a4904ebc757ef59",
        "type": "moment",
        "z": "bec4301d57ac82a5",
        "name": "STARTTIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "0",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "starttime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a327249021e7554b",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "SET TIME VARIABLES",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "36832901dd77c53e",
                "2a4904ebc757ef59",
                "d1b410cea65a0fd1",
                "99e95055023b483a"
            ]
        ]
    },
    {
        "id": "d1b410cea65a0fd1",
        "type": "moment",
        "z": "bec4301d57ac82a5",
        "name": "VIDEOSTALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "1",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "de608c15fd63f03f",
        "type": "comment",
        "z": "bec4301d57ac82a5",
        "name": "SET GLOBAL TIME VARIABLES",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c9cec74bad221be",
        "type": "comment",
        "z": "bec4301d57ac82a5",
        "name": "CONNECTS TO RTSP-SIMPLE-SERVER AND SENDS STREAMS AS COT",
        "info": "",
        "x": 410,
        "y": 840,
        "wires": []
    },
    {
        "id": "9e5007102089ec32",
        "type": "comment",
        "z": "bec4301d57ac82a5",
        "name": "LAST SEEN LOCATION OF CALLSIGN",
        "info": "",
        "x": 290,
        "y": 580,
        "wires": []
    },
    {
        "id": "487e71479b7c92b2",
        "type": "xml",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 640,
        "wires": [
            [
                "4276c8b9719cfb25"
            ]
        ]
    },
    {
        "id": "4276c8b9719cfb25",
        "type": "function",
        "z": "bec4301d57ac82a5",
        "name": "",
        "func": "let event = msg.payload[\"event\"];\nlet _detail = event[\"detail\"];\nlet detail = _detail[0];\n\nlet name = msg.payload.event.detail[0].contact[0].$.callsign;\nlet lat = msg.payload.event.point[0].$.lat;\nlet lon = msg.payload.event.point[0].$.lon;\nlet hae = msg.payload.event.point[0].$.hae;\nlet ce = msg.payload.event.point[0].$.ce;\nlet le = msg.payload.event.point[0].$.le;\nlet uid = msg.payload.event.$.uid\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le,\n  uid: uid\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 640,
        "wires": [
            [
                "d6604ab5d8b32216",
                "8e86d983257c0a1b"
            ]
        ]
    },
    {
        "id": "d6604ab5d8b32216",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT\nOR REPLACE INTO LastSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.lat }}\",\n    \"{{ payload.lon }}\",\n    \"{{ payload.hae }}\",\n    \"{{ payload.ce }}\",\n    \"{{ payload.le }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 640,
        "wires": [
            [
                "2fca9639c3d87ab2"
            ]
        ]
    },
    {
        "id": "2fca9639c3d87ab2",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 920,
        "y": 640,
        "wires": [
            [
                "d235bc0267da419d"
            ]
        ]
    },
    {
        "id": "93035aa417142c8f",
        "type": "tcp tls in",
        "z": "bec4301d57ac82a5",
        "name": "FETCH-FROM-TAK",
        "server": "client",
        "host": "${COT_IP}",
        "port": "${COT_PORT}",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "dc169dd1444aa8a5",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "487e71479b7c92b2",
                "744153d7e1c28a9f"
            ]
        ]
    },
    {
        "id": "0f2c7b51ac38b0b1",
        "type": "change",
        "z": "bec4301d57ac82a5",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.publicIPv4",
                "pt": "msg",
                "to": "ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "6556eca5b746baf8"
            ]
        ]
    },
    {
        "id": "6556eca5b746baf8",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "d235bc0267da419d",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "ff13f108579ee042",
        "type": "switch",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ">del<",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "668481a992ed89b3"
            ]
        ]
    },
    {
        "id": "744153d7e1c28a9f",
        "type": "switch",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<link",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "ff13f108579ee042"
            ]
        ]
    },
    {
        "id": "668481a992ed89b3",
        "type": "change",
        "z": "bec4301d57ac82a5",
        "name": "NULL ISLAND AND NUKE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<point*.*<detail>",
                "fromt": "re",
                "to": "<point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"9999999.0\" le=\"9999999.0\" /><detail>",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<archive/>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "stale=\"*....",
                "fromt": "re",
                "to": "stale=\"1990",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 700,
        "wires": [
            [
                "4d2626e27d92a41c"
            ]
        ]
    },
    {
        "id": "8753fedb224c05e4",
        "type": "comment",
        "z": "bec4301d57ac82a5",
        "name": "BONUS FEATURE!",
        "info": "Add the remark `del` to a marker to have it be nuked from the server. ",
        "x": 230,
        "y": 740,
        "wires": []
    },
    {
        "id": "1a88feb609dfbac0",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "CHECK FOR NEW USERS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1160,
        "wires": [
            [
                "11219ff6cb1848a2"
            ]
        ]
    },
    {
        "id": "072b75f527900bf6",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirtSeen",
        "x": 700,
        "y": 1160,
        "wires": [
            [
                "71577e908f8b99d7"
            ]
        ]
    },
    {
        "id": "11219ff6cb1848a2",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  FirtSeen",
        "output": "str",
        "x": 520,
        "y": 1160,
        "wires": [
            [
                "072b75f527900bf6"
            ]
        ]
    },
    {
        "id": "8e86d983257c0a1b",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO FirtSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.uid }}\",\n    \"{{ global.ts }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "2882f2d92f73047b"
            ]
        ]
    },
    {
        "id": "2882f2d92f73047b",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "d8e04c29417d7970"
            ]
        ]
    },
    {
        "id": "d8e454c4f5617df2",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "953f9a955c385af3"
            ]
        ]
    },
    {
        "id": "3f830a811a92e279",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE FirtSeen(id TEXT PRIMARY KEY, uid, ts)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "d8e454c4f5617df2"
            ]
        ]
    },
    {
        "id": "953f9a955c385af3",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "99e95055023b483a",
        "type": "change",
        "z": "bec4301d57ac82a5",
        "name": "GLOBAL TS",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "fd5f373fcbc88dc5"
            ]
        ]
    },
    {
        "id": "fd5f373fcbc88dc5",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "27b16a60b0ae3fb4",
        "type": "function",
        "z": "bec4301d57ac82a5",
        "name": "",
        "func": "if (msg.payload.ts < global.ts -300 ){\n   return [ msg.payload ];\n} else {\n   return [ msg, null ];\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1160,
        "wires": [
            [
                "4b7b9751dd2abd64"
            ]
        ]
    },
    {
        "id": "71577e908f8b99d7",
        "type": "split",
        "z": "bec4301d57ac82a5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 1160,
        "wires": [
            [
                "27b16a60b0ae3fb4"
            ]
        ]
    },
    {
        "id": "4b7b9751dd2abd64",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.{{ payload.id }}{{ payload.ts }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n   <point lat=\"0.000000\" lon=\"0.000000\" hae=\"9999999.0\" ce=\"9999999.0\" le=\"9999999.0\" />\n   <detail>\n      <__chat senderCallsign=\"ASN-TAK\" chatroom=\"{{ payload.id }}\" groupOwner=\"false\" id=\"{{ payload.uid }}\" parent=\"RootContactGroup\" messageId=\"JunkMessageId-{{ payload.uid }}-{{ payload.ts }}\">\n         <chatgrp uid0=\"{{ payload.uid }}\" uid1=\"ASN-TAK-FAKEUID\" id=\"ChatGroup-{{ payload.id }}\" />\n      </__chat>\n      <link uid=\"{{ payload.uid }}\" type=\"a-f-G-U-C\" relation=\"p-p\" />\n      <__serverdestination destinations=\"Test:tcp:{{ payload.uid }}\" />\n      <remarks time=\"{{ global.starttime }}\" to=\"{{ payload.uid }}\" source=\"BAO.F.ATAK.ASN-TAK-FAKEUID\">Welcome to ASN-TAK!\n\nMake sure you are only on your teams server.\nRemember to properly exit the application after use.\n\nMore info at airsoftnorge.com\n      </remarks>\n      <marti>\n         <dest callsign=\"{{ payload.id }}\" />\n      </marti>\n   </detail>\n</event>",
        "output": "str",
        "x": 1240,
        "y": 1160,
        "wires": [
            [
                "4dd27b80196eeb79",
                "4d2626e27d92a41c"
            ]
        ]
    },
    {
        "id": "4dd27b80196eeb79",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d8e04c29417d7970",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "382a60df2e96250f",
        "type": "catch",
        "z": "bec4301d57ac82a5",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "dd3d585ab6a16665"
            ]
        ]
    },
    {
        "id": "dd3d585ab6a16665",
        "type": "switch",
        "z": "bec4301d57ac82a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: FirtSeen.id\"",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1420,
        "wires": [
            [
                "b442f7560ff97c11"
            ],
            [
                "b167cb240dbb80bc"
            ]
        ]
    },
    {
        "id": "b442f7560ff97c11",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b167cb240dbb80bc",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0d6ffbe7d97f4d85",
        "type": "inject",
        "z": "bec4301d57ac82a5",
        "name": "CONNECTION REMINDER",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1240,
        "wires": [
            [
                "0c55af54e5e6c09d"
            ]
        ]
    },
    {
        "id": "e7178cf43a83da04",
        "type": "sqlite",
        "z": "bec4301d57ac82a5",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirtSeen",
        "x": 700,
        "y": 1240,
        "wires": [
            [
                "02eaf086528a8b21"
            ]
        ]
    },
    {
        "id": "0c55af54e5e6c09d",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  FirtSeen",
        "output": "str",
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "e7178cf43a83da04"
            ]
        ]
    },
    {
        "id": "02eaf086528a8b21",
        "type": "split",
        "z": "bec4301d57ac82a5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 850,
        "y": 1240,
        "wires": [
            [
                "342281aa9b0f6dc4",
                "9b1637916ab4073c"
            ]
        ]
    },
    {
        "id": "7474ac7c002af793",
        "type": "template",
        "z": "bec4301d57ac82a5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.{{ payload.id }}{{ global.starttime }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n   <point lat=\"0.000000\" lon=\"0.000000\" hae=\"9999999.0\" ce=\"9999999.0\" le=\"9999999.0\" />\n   <detail>\n      <__chat senderCallsign=\"ASN-TAK\" chatroom=\"{{ payload.id }}\" groupOwner=\"false\" id=\"{{ payload.uid }}\" parent=\"RootContactGroup\" messageId=\"JunkMessageId-{{ payload.uid }}-{{ global.starttime }}\">\n         <chatgrp uid0=\"{{ payload.uid }}\" uid1=\"ASN-TAK-FAKEUID\" id=\"ChatGroup-{{ payload.id }}\" />\n      </__chat>\n      <link uid=\"{{ payload.uid }}\" type=\"a-f-G-U-C\" relation=\"p-p\" />\n      <__serverdestination destinations=\"Test:tcp:{{ payload.uid }}\" />\n      <remarks time=\"{{ global.starttime }}\" to=\"{{ payload.uid }}\" source=\"BAO.F.ATAK.ASN-TAK-FAKEUID\">Reminder: You are still connected to ASN-TAK {{ payload.serverid }} server.\n      </remarks>\n      <marti>\n         <dest callsign=\"{{ payload.id }}\" />\n      </marti>\n   </detail>\n</event>",
        "output": "str",
        "x": 1240,
        "y": 1240,
        "wires": [
            [
                "b8499ab1a58576a8",
                "4d2626e27d92a41c"
            ]
        ]
    },
    {
        "id": "b8499ab1a58576a8",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 1240,
        "wires": []
    },
    {
        "id": "342281aa9b0f6dc4",
        "type": "change",
        "z": "bec4301d57ac82a5",
        "name": "SET SERVER COLOR",
        "rules": [
            {
                "t": "set",
                "p": "payload.serverid",
                "pt": "msg",
                "to": "SERVER_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1240,
        "wires": [
            [
                "7474ac7c002af793"
            ]
        ]
    },
    {
        "id": "9b1637916ab4073c",
        "type": "debug",
        "z": "bec4301d57ac82a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1400,
        "wires": []
    }
]
